<% unless buttons.nil? %>
  <div>
    <hr/>
      <% buttons.each do |b| %>
        <% case b %>
        <% when :add_new %>
          <%= render partial: 'button_add_new_item_template' %>
        <% when :show_all %>
          <%= render partial: 'button_show_all_item_templates' %>
        <% end %>
      <% end %>
  <hr/>
</div>
<% end %>